@model IEnumerable<PharmaAssist2._0.Models.Order>

@{
    ViewBag.Title = "Orderlist";
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>My Chart</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="~/Content/all.css" />
</head>
<body>
    @RenderPage("~/Views/DeliveryMan/DeliveryManNavbar.cshtml")

    <div class="container-fluid" style="padding-top:2vh">

        <div class="container-fluid" align="center"><button type="button" class="btn btn-danger">Print</button></div>
        <br />
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Customer name</th>
                    <th scope="col">Customer Phone</th>
                    <th scope="col">Customer Address</th>


                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int serial = 1;

                    foreach (var data in Model)
                    {
                        if (data.Status.Id == 1)
                        {

                            <tr>
                                <th scope="row">@serial</th>
                                <td>@data.InvoiceNumber</td>
                                <td>@data.OrderDate</td>
                                <td>@data.Totalprice</td>
                                <td>@data.Consumer.Name</td>
                                <td>@data.Consumer.Phone</td>
                                <td>@data.Consumer.Address</td>



                                <td><span style="color:green"><i class="fas fa-check-circle"></i></span></td>


                            </tr>
                        }
                        else
                        {
                            <tr class="table-danger">
                                <th scope="row">@serial</th>
                                <td>@data.InvoiceNumber</td>
                                <td>@data.OrderDate</td>
                                <td>@data.Totalprice</td>
                                <td>@data.Consumer.Name</td>
                                <td>@data.Consumer.Phone</td>
                                <td>@data.Consumer.Address</td>

                                
                                <td>@Html.ActionLink("StatusUpdate", "Status", new { id = data.Id }, new { @class = "btn btn-danger" })</td>
                                

                            </tr>
                        }

                        serial += 1;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="11" align="center"><span style="color:red">No product Found</span></td>
                    </tr>
                }
            </tbody>
        </table>


        <br />
        <hr />
        <br />



    </div>
</body>
</html>