@model PharmaAssist2._0.Models.ModelView.DeliveryManZone
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>Create</h2>
<div>
    @using (Html.BeginForm("Create", "DeliveryMan", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name" value="@Model.DeliveryMan.Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" name="@Model.DeliveryMan.ZoneId">Zone Name</label>
            <div class="col-md-10">
                <select name="ZoneId" class="form-control">

                    @foreach (var c in Model.Zones)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.DeliveryMan.ZoneId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Email" value="@Model.DeliveryMan.Email" class="form-control" />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Phone" value="@Model.DeliveryMan.Phone" class="form-control" />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Address" value="@Model.DeliveryMan.Address" class="form-control" />

                @Html.ValidationMessageFor(model => model.DeliveryMan.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Imagefile" required />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Gender" class="form-control">



                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                @Html.ValidationMessageFor(model => model.DeliveryMan.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="Salary" value="@Model.DeliveryMan.Salary" class="form-control" />

                @Html.ValidationMessageFor(model => model.DeliveryMan.Salary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMan.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="datetime" name="Dob" value="@Model.DeliveryMan.Dob" />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" name="Password">Password</label>
            <div class="col-md-10">
                <input type="text" name="Password" class="form-control" />
                @Html.ValidationMessageFor(model => model.DeliveryMan.Dob, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }
</div>

