@model PharmaAssist2._0.Models.ModelView.DoctorSpecialist
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<center>
    <h2>Create</h2>
    <div>
        @using (Html.BeginForm("Create", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Name" value="@Model.Doctor.Name" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Doctor.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label class="control-label col-md-2" name="@Model.Doctor.SpecialistId">Specialist Name</label>
                <div class="col-md-10">
                    <select name="SpecialistId" class="form-control">

                        @foreach (var c in Model.Specialists)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Doctor.SpecialistId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Phone" value="@Model.Doctor.Phone" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Doctor.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Address" value="@Model.Doctor.Address" class="form-control" />

                    @Html.ValidationMessageFor(model => model.Doctor.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Imagefile" required />
                    @Html.ValidationMessageFor(model => model.Doctor.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Gender" class="form-control">



                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Doctor.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Fee, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="number" name="Fee" value="@Model.Doctor.Fee" class="form-control" />

                    @Html.ValidationMessageFor(model => model.Doctor.Fee, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Doctor.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="datetime" name="Dob" value="@Model.Doctor.Dob" />
                    @Html.ValidationMessageFor(model => model.Doctor.Dob, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>

        }
    </div>
</center>
