@model PharmaAssist2._0.Models.Appointment

@{
    ViewBag.Title = "Appointment";
}

<!--Links for views-->
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="~/Content/all.css" />

<!--navbar-->
@RenderPage("~/Views/Consumer/ConsumerNavbar.cshtml")

<h2>Appointment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SlotId, "SlotId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="SlotId">
                    @foreach (var item in ViewData["slots"] as List<PharmaAssist2._0.Models.Slot>)
                    {
                        <option value="@item.Id">
                            @item.Name

                        </option>
                    }
                </select>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
