@model PharmaAssist2._0.Models.ProblemPost

@{
    ViewBag.Title = "ProblemPost";
}

<!--Links for views-->
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="~/Content/all.css" />

<!--navbar-->
@RenderPage("~/Views/Consumer/ConsumerNavbar.cshtml")
<center>
    <h2>ProblemPost</h2>

    @using (Html.BeginForm("ProblemPost", "Consumer", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProblemPost</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Imagefile" required />
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
    </div>
</center>